<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- offcanvas sidebar -->
	<div class="offcanvas offcanvas-start text-white sidebar-nav" tabindex="-1" id="sidebar"
		th:fragment="sidebar (opcao)" style="background-color: #131369;">
		<div class="offcanvas-body">
			<nav class="navbar-dark">
				<ul class="navbar-nav">
					<li>
						<div class="small fw-bold text-uppercase px-3 mt-3">Opções</div>
					</li>
					<li class="my-2">
						<hr class="dropdown-toggle-split" />
					</li>

					<!-- 1o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#sobre">
							<span class="me-2">
								<i class="bi bi-folder2-open"></i>
							</span>
							<span>Sobre</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>

						<div class="collapse" id="sobre" th:classappend="${opcao == 'sobre'} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/sobre}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-journal-bookmark-fill"></i>
										</span>
										<span class="text-white">História</span>
									</a>
								</li>

							</ul>
						</div>
					</li>

					<!-- 2o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#produtos">
							<span class="me-2">
								<i class="bi bi-basket2"></i>
							</span>
							<span>Produtos</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>

						<div class="collapse" id="produtos" th:classappend="${opcao == 'produtos'} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/produtos/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/produtos/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorio/relatorioproduto}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-clipboard-check"></i>
										</span>
										<span class="text-white">Relatório</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- 2o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#carrinho">
							<span class="me-2">
								<i class="bi bi-cart-dash"></i>
							</span>
							<span>Carrinho</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>

						<div class="collapse" id="carrinho" th:classappend="${opcao == 'carrinho'} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/carrinho/comprar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Comprar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorio/relatoriocomprar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-clipboard-check"></i>
										</span>
										<span class="text-white">Relatório</span>
									</a>
								</li>
							</ul>
						</div>

					</li>

					<!-- 5o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#pessoas">
							<span class="me-2">
								<i class="bi bi-person-fill"></i>
							</span>
							<span>Clientes</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>

						<div class="collapse" id="pessoas" th:classappend="${opcao == 'pessoas'} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/pessoas/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/pessoas/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorio/relatoriocliente}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-clipboard-check"></i>
										</span>
										<span class="text-white">Relatório</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- 6o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#diretor">
							<span class="me-2">
								<i class="bi bi-person-badge-fill"></i>
							</span>
							<span>Diretores</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>

						<div class="collapse" id="diretor" th:classappend="${opcao == 'diretor'} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/diretor/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/diretor/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorio/relatoriodiretor}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-clipboard-check"></i>
										</span>
										<span class="text-white">Relatório</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- 7o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#usuarios">
							<span class="me-2">
								<i class="bi bi-person-square"></i>
							</span>
							<span>Usuários</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>
						<div class="collapse" id="usuarios" th:classappend="${opcao == 'usuarios'} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/usuarios/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/usuarios/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorio}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-clipboard-check"></i>
										</span>
										<span class="text-white">Relatório</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

				</ul>
			</nav>
		</div>
	</div>
	<!-- !offcanvas sidebar -->
</body>

</html>