<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Cadastrar Diretor</title>
</head>

<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar(opcao='diretor')}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

				<form th:action="@{/diretor/cadastrar}" method="POST" th:object="${diretor}">
					<input type="hidden" th:field="*{codigo}">

					<label for="nome" class="form-label mt-4">Nome:</label>
					<input type="text" id="nome" th:field="*{nome}" autofocus="autofocus" class="form-control"
						th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('nome')}"
						th:each="erro : ${#fields.errors('nome')}" th:text="${erro} + '. '"></span>

					<label for="cpf" class="form-label mt-4">CPF:</label>
					<input type="text" id="cpf" th:field="*{cpf}" autofocus="autofocus" class="form-control"
						th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}"
						th:each="erro : ${#fields.errors('cpf')}" th:text="${erro} + '. '"></span>

					<label for="dataNascimento" class="form-label mt-3">Data de Nascimento:</label>
					<input type="text" id="dataNascimento" th:field="*{dataNascimento}"
						class="form-control mb-4 componentedata" th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('dataNascimento')}"
						th:each="erro : ${#fields.errors('dataNascimento')}" th:text="${erro} + '. '"></span>

					<label for="areas" class="form-label">Area:</label>
					<select id="areas" name="areas" class="form-select">
						<option value="">Nenhuma específica</option>
						<option th:each="area : ${todasAreas}" th:value="${area.codigo}" th:text="${area.nome}">
						</option>
					</select>

					<input type="submit" value="Cadastrar" class="btn btn-primary mt-3">
				</form>

				<div th:if="${notificacao != null}" th:object="${notificacao}">
					<input type="hidden" id="mensagem" th:value="*{mensagem}">
					<input type="hidden" id="tipo" th:value="*{tipo}">
					<input type="hidden" id="intervalo" th:value="*{intervalo}">
				</div>

			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

</body>

</html>